



.divtastic{border:1px solid;height:100px;width:400px;padding:30px}
.spantastic{color:darkblue;}-->
h1 {font-size: 50px; border-bottom: 1px solid #cccccc; }
body{background-color: lightblue;}
.test{color:darkblue}
.special{color:#000000;}

